In [4]:
# импорт библиотек
import pandas as pd
import numpy as np
import re
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
from geopandas import GeoDataFrame

In [5]:
# загрузка данных
excel_reader = pd.ExcelFile('C:\\Users\\Sergey\\hotels_parsing_result.xlsx')

platform1 = excel_reader.parse('platform1') 


platform1.head()

,id,create_time,title,hotel_type_original,city,address,rating,rating_5,review_count,region,...,rooms_count,contact_social,description,email,phone,website,uid,parsing_time,lat,lon
0,81842,2023-09-26 14:45:42.910962,Апартаменты Baltia Западный Пляж,Apartment,Зеленоградск,"улица Приморская, д. 31, Зеленоградск",10.0,5.00,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,10595357,2023-09-26 20:56:02.013106,54.951103,20.456526
1,86341,2023-09-26 15:01:55.184815,Отель Авиатор,Hotel,Уфа,"улица Мушникова, д.28, Уфа",8.7,4.35,5,2,...,8.0,NaN,NaN,NaN,NaN,NaN,8332081,2023-09-26 20:56:02.013106,54.783913,56.116150
2,86420,2023-09-26 15:02:12.005085,Клеопатра,Hotel,Уфа,"Коммунистическая ул., д. 53, Уфа",6.3,3.15,10,2,...,15.0,NaN,NaN,NaN,NaN,NaN,7724907,2023-09-26 20:56:02.013106,54.726463,55.946445
3,86421,2023-09-26 15:02:12.225334,Татьяна,Hotel,Сибай,"Учалинская улица, 37, Сибай",10.0,5.00,2,2,...,15.0,NaN,NaN,NaN,NaN,NaN,6598197,2023-09-26 20:56:02.013106,52.719230,58.658596
4,85898,2023-09-26 15:00:19.217359,Мини-Отель Чемодан,Mini-hotel,Стерлитамак,"улица Дружбы, д.28 Д, Стерлитамак",8.0,4.00,0,2,...,23.0,NaN,NaN,NaN,NaN,NaN,8622634,2023-09-26 20:56:02.013106,53.642567,55.932686

In [6]:
platform1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5522 entries, 0 to 5521
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   5522 non-null   int64
 1   create_time          5522 non-null   object
 2   title                5522 non-null   object
 3   hotel_type_original  5522 non-null   object
 4   city                 5522 non-null   object
 5   address              5522 non-null   object
 6   rating               5522 non-null   float64
 7   rating_5             5522 non-null   float64
 8   review_count         5522 non-null   int64
 9   region               5522 non-null   int64
 10  star_rating          311 non-null    float64
 11  rooms_count          856 non-null    float64
 12  contact_social       0 non-null      float64
 13  description          0 non-null      float64
 14  email                0 non-null      float64
 15  phone                0 non-null      float64
 16  website              0 non-null      float64
 17  uid                  5522 non-null   int64
 18  parsing_time         5522 non-null   object
 19  lat                  5522 non-null   float64
 20  lon                  5522 non-null   float64
dtypes: float64(11), int64(4), object(6)
memory usage: 906.1+ KB

In [7]:
platform2 = excel_reader.parse('platfrom2') 


platform2.head()

,id,create_time,title,hotel_type_original,city,address,rating,rating_5,review_count,region,...,rooms_count,contact_social,description,email,phone,website,uid,parsing_time,lat,lon
0,4608,2023-09-14 15:46:07.855977,"Уют, гостиница",hotel,NaN,"Россия, Республика Башкортостан, Аскинский рай...",NaN,NaN,NaN,2,...,5.0,NaN,NaN,NaN,NaN,NaN,70000001064499291,2023-09-14 22:44:57.013238,NaN,NaN
1,4815,2023-09-14 15:46:48.332492,Гостиница Ашкадар,NaN,sterlitamak,"Россия, Республика Башкортостан, Стерлитамак г...",NaN,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,7600610350202940,2023-09-14 22:44:57.054250,NaN,NaN
2,4750,2023-09-14 15:46:35.659931,"Островок, база отдыха",hotel_rest,NaN,"Россия, Республика Башкортостан, Гафурийский р...",NaN,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,70000001076845858,2023-09-14 22:44:57.043234,NaN,NaN
3,4786,2023-09-14 15:46:42.672665,"Ардан, база отдыха",hotel_rest,NaN,"Россия, Республика Башкортостан, Баймакский ра...",NaN,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,70000001075946655,2023-09-14 22:44:57.049244,NaN,NaN
4,16310,2023-09-15 11:56:48.785266,Гостиница,hotel,beloretsk,"Россия, Республика Башкортостан, Белорецкий ра...",NaN,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,70000001031030911,2023-09-15 18:55:23.191778,53.969912,58.400557

In [8]:
platform2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2767 entries, 0 to 2766
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2767 non-null   int64
 1   create_time          2767 non-null   object
 2   title                2767 non-null   object
 3   hotel_type_original  2747 non-null   object
 4   city                 1622 non-null   object
 5   address              2767 non-null   object
 6   rating               2119 non-null   float64
 7   rating_5             2119 non-null   float64
 8   review_count         2119 non-null   float64
 9   region               2767 non-null   int64
 10  star_rating          591 non-null    float64
 11  rooms_count          1662 non-null   float64
 12  contact_social       506 non-null    object
 13  description          197 non-null    object
 14  email                67 non-null     object
 15  phone                1076 non-null   object
 16  website              734 non-null    object
 17  uid                  2767 non-null   int64
 18  parsing_time         2767 non-null   object
 19  lat                  2194 non-null   float64
 20  lon                  2194 non-null   float64
dtypes: float64(7), int64(3), object(11)
memory usage: 454.1+ KB

# Подготовка данных

In [9]:
# Разделение столбца 'title' и создание новых столбцов 'title' и 'type'
split_data = platform1['title'].str.split(',', expand=True)
platform1['title'] = split_data[0]  # Первый элемент разделения всегда будет 'title'

# Проверка, есть ли второй элемент после разделения, прежде чем присваивать его 'type'
if split_data.shape[1] > 1:
    platform1['type'] = split_data[1]
else:
    platform1['type'] = np.nan  # Если второго элемента нет, присваиваем NaN

In [10]:
platform1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5522 entries, 0 to 5521
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   5522 non-null   int64
 1   create_time          5522 non-null   object
 2   title                5522 non-null   object
 3   hotel_type_original  5522 non-null   object
 4   city                 5522 non-null   object
 5   address              5522 non-null   object
 6   rating               5522 non-null   float64
 7   rating_5             5522 non-null   float64
 8   review_count         5522 non-null   int64
 9   region               5522 non-null   int64
 10  star_rating          311 non-null    float64
 11  rooms_count          856 non-null    float64
 12  contact_social       0 non-null      float64
 13  description          0 non-null      float64
 14  email                0 non-null      float64
 15  phone                0 non-null      float64
 16  website              0 non-null      float64
 17  uid                  5522 non-null   int64
 18  parsing_time         5522 non-null   object
 19  lat                  5522 non-null   float64
 20  lon                  5522 non-null   float64
 21  type                 113 non-null    object
dtypes: float64(11), int64(4), object(7)
memory usage: 949.2+ KB

In [11]:
# Разделение столбца 'title' и создание новых столбцов 'title' и 'type'
split_data = platform2['title'].str.split(',', expand=True)
platform2['title'] = split_data[0]  # Первый элемент разделения всегда будет 'title'

# Проверка, есть ли второй элемент после разделения, прежде чем присваивать его 'type'
if split_data.shape[1] > 1:
    platform2['type'] = split_data[1]
else:
    platform2['type'] = np.nan  # Если второго элемента нет, присваиваем NaN

In [12]:
platform2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2767 entries, 0 to 2766
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2767 non-null   int64
 1   create_time          2767 non-null   object
 2   title                2767 non-null   object
 3   hotel_type_original  2747 non-null   object
 4   city                 1622 non-null   object
 5   address              2767 non-null   object
 6   rating               2119 non-null   float64
 7   rating_5             2119 non-null   float64
 8   review_count         2119 non-null   float64
 9   region               2767 non-null   int64
 10  star_rating          591 non-null    float64
 11  rooms_count          1662 non-null   float64
 12  contact_social       506 non-null    object
 13  description          197 non-null    object
 14  email                67 non-null     object
 15  phone                1076 non-null   object
 16  website              734 non-null    object
 17  uid                  2767 non-null   int64
 18  parsing_time         2767 non-null   object
 19  lat                  2194 non-null   float64
 20  lon                  2194 non-null   float64
 21  type                 2298 non-null   object
dtypes: float64(7), int64(3), object(12)
memory usage: 475.7+ KB

In [13]:
# Замена нулевых значений на NaN для последующего заполнения первым не нулевым значением
platform1.replace(0, np.nan, inplace=True)

# Сортировка по 'parsing_time' в порядке убывания
platform1.sort_values(by='parsing_time', ascending=False, inplace=True)

# Группировка по 'uid' и заполнение всех столбцов первым не нулевым значением
platform1 = platform1.groupby('uid', as_index=False).first()

# Вывод результата
print(platform1)

           uid     id                 create_time  \
0      6292494  85495  2023-09-26 14:58:53.118918
1      6293892  86914  2023-09-26 15:03:56.770665
2      6293929  86897  2023-09-26 15:03:53.226498
3      6294009  86912  2023-09-26 15:03:56.337687
4      6294996  86917  2023-09-26 15:03:57.413981
...        ...    ...                         ...
5517  10845316  85890  2023-09-26 15:00:16.295934
5518  10845334  85891  2023-09-26 15:00:16.511719
5519  10845801  87266  2023-09-26 15:05:10.023309
5520  10846072  85892  2023-09-26 15:00:16.723787
5521  10847521  87267  2023-09-26 15:05:10.230758

                                                  title  hotel_type_original  \
0             Апартаменты рядом с Закхаймскими воротами            Apartment
1                Апартаменты на Мубарякова 10 корп. 1-1            Apartment
2               Апартаменты на Сагита Агиша 14 корпус 1            Apartment
3                Апартаменты на Мубарякова 10 корп. 1-2            Apartment
4                              Апартаменты на Шафиева 8            Apartment
...                                                 ...                  ...
5517                        Квартира Королевские ворота            Apartment
5518  Апартаменты Трехкомнатные Pro.apartment на При...            Apartment
5519                                Квартира SeverApart            Apartment
5520                                 Квартира на Сельме            Apartment
5521                      Шале Бревенчатый дом АБЗАКОВО  Cottages_and_Houses

              city                                   address  rating  \
0      Калининград         Улица Черепичная 19В, Калининград     NaN
1              Уфа     улица Мубарякова, д. 10, корп. 1, Уфа     NaN
2              Уфа   улица Сагита Агиша, д. 14, корп. 1, Уфа     NaN
3              Уфа     улица Мубарякова, д. 10, корп. 1, Уфа     NaN
4              Уфа                      Улица Шафиева 8, Уфа     NaN
...            ...                                       ...     ...
5517   Калининград      улица 1812 года, д. 126, Калининград     NaN
5518  Зеленоградск     улица Приморская, д. 35, Зеленоградск     NaN
5519           Уфа  улица Октябрьской Революции, д. 23А, Уфа     NaN
5520   Калининград  улица Маршала Жукова, д. 10, Калининград     NaN
5521  Новоабзаково   улица Горнолыжная, д.24/1, Новоабзаково     NaN

      rating_5  review_count  ...  rooms_count  contact_social  description  \
0          NaN           NaN  ...          1.0             NaN          NaN
1          NaN           NaN  ...          1.0             NaN          NaN
2          NaN           NaN  ...          NaN             NaN          NaN
3          NaN           NaN  ...          1.0             NaN          NaN
4          NaN           NaN  ...          1.0             NaN          NaN
...        ...           ...  ...          ...             ...          ...
5517       NaN           NaN  ...          NaN             NaN          NaN
5518       NaN           NaN  ...          NaN             NaN          NaN
5519       NaN           NaN  ...          NaN             NaN          NaN
5520       NaN           NaN  ...          NaN             NaN          NaN
5521       NaN           NaN  ...          NaN             NaN          NaN

      email  phone  website                parsing_time        lat        lon  \
0       NaN    NaN      NaN  2023-09-26 20:56:02.013106  54.708366  20.534544
1       NaN    NaN      NaN  2023-09-26 20:56:02.013106  54.695984  55.996050
2       NaN    NaN      NaN  2023-09-26 20:56:02.013106  54.724865  56.007870
3       NaN    NaN      NaN  2023-09-26 20:56:02.013106  54.696014  55.996020
4       NaN    NaN      NaN  2023-09-26 20:56:02.013106  54.765140  55.997550
...     ...    ...      ...                         ...        ...        ...
5517    NaN    NaN      NaN  2023-09-26 20:56:02.013106  54.711185  20.536673
5518    NaN    NaN      NaN  2023-09-26 20:56:02.013106  54.951103  20.458860
5519    NaN    NaN      NaN  2023-09-26 20:56:02.013106  54.722687  55.954900
5520    NaN    NaN      NaN  2023-09-26 20:56:02.013106  54.750538  20.492044
5521    NaN    NaN      NaN  2023-09-26 20:56:02.013106  53.807266  58.636684

      type
0     None
1     None
2     None
3     None
4     None
...    ...
5517  None
5518  None
5519  None
5520  None
5521  None

[5522 rows x 22 columns]

In [14]:
# Замена нулевых значений на NaN для последующего заполнения первым не нулевым значением
platform2.replace(0, np.nan, inplace=True)

# Сортировка по 'parsing_time' в порядке убывания
platform2.sort_values(by='parsing_time', ascending=False, inplace=True)

# Группировка по 'uid' и заполнение всех столбцов первым не нулевым значением
platform2 = platform2.groupby('uid', as_index=False).first()

# Вывод результата
print(platform2)

                   uid     id                 create_time  \
0     2393065583018400  67863  2023-09-29 15:27:18.405798
1     2393065583019098  67519  2023-09-29 15:25:50.163806
2     2393065583019835  67482  2023-09-29 15:25:39.479348
3     2393065583019852  67480  2023-09-29 15:25:38.779367
4     2393065583019903  67476  2023-09-29 15:25:37.371242
..                 ...    ...                         ...
544  70000001078906834  67980  2023-09-29 15:27:47.123060
545  70000001079662007  67896  2023-09-29 15:27:26.345851
546  70000001079727477  67933  2023-09-29 15:27:35.414340
547  70030076144270841  67853  2023-09-29 15:27:15.898333
548  70030076307422187  67732  2023-09-29 15:26:45.768894

                     title hotel_type_original       city  \
0                      Нур               hotel        ufa
1                Клеопатра               hotel        ufa
2                  Агидель               hotel        ufa
3    AZIMUT Сити Отель Уфа               hotel        ufa
4                 Башкирия               hotel        ufa
..                     ...                 ...        ...
544              Культамак          hotel_rest       None
545             Goldy Land               hotel        ufa
546                    Уют               hotel       None
547              Гостиница                None        ufa
548              Гостиница                None  beloretsk

                                               address  rating  rating_5  \
0    Россия, Республика Башкортостан, Уфа городской...     4.0       4.0
1    Россия, Республика Башкортостан, Уфа городской...     4.9       4.9
2    Россия, Республика Башкортостан, Уфа городской...     3.7       3.7
3    Россия, Республика Башкортостан, Уфа городской...     4.1       4.1
4    Россия, Республика Башкортостан, Уфа городской...     4.8       4.8
..                                                 ...     ...       ...
544  Россия, Республика Башкортостан, Гафурийский р...     NaN       NaN
545  Россия, Республика Башкортостан, Нуримановский...     NaN       NaN
546  Россия, Республика Башкортостан, Татышлинский ...     NaN       NaN
547  Россия, Республика Башкортостан, Туймазинский ...     NaN       NaN
548  Россия, Республика Башкортостан, Белорецкий ра...     NaN       NaN

     review_count  ...  rooms_count  \
0            84.0  ...          7.0
1            30.0  ...         30.0
2           189.0  ...        150.0
3           386.0  ...        190.0
4           780.0  ...        211.0
..            ...  ...          ...
544           NaN  ...          NaN
545           NaN  ...          NaN
546           NaN  ...          NaN
547           NaN  ...          NaN
548           NaN  ...          NaN

                                        contact_social  description email  \
0                                                 None         None  None
1                                                 None         None  None
2                                                 None         None  None
3                                                 None         None  None
4    [{"social": "vk", "contact": "https://vk.com/p...         None  None
..                                                 ...          ...   ...
544                                               None         None  None
545                                               None         None  None
546                                               None         None  None
547                                               None         None  None
548                                               None         None  None

                          phone                 website  \
0    +79061002225, +79311065039                    None
1                  +73472734100                    None
2                  +73472680008          agidelhotel.ru
3                  +73472359000        azimuthotels.com
4                  +73472790000  www.gkbashkortostan.ru
..                          ...                     ...
544                        None                    None
545                +79674537238                    None
546                +79373430037           Забронировать
547                        None                    None
548                        None                    None

                   parsing_time        lat        lon                   type
0    2023-09-29 22:24:49.875294  54.783271  56.047044                 хостел
1    2023-09-29 22:23:14.044904  54.726386  55.946670              гостиница
2    2023-09-29 22:23:04.301298  54.722958  55.946230              гостиница
3    2023-09-29 22:23:03.777296  54.773961  56.026270                   None
4    2023-09-29 22:23:02.714399  54.730703  55.949172   гостиничный комплекс
..                          ...        ...        ...                    ...
544  2023-09-29 22:25:22.312234  53.947493  57.061174     туристическая база
545  2023-09-29 22:24:58.823852  55.387737  56.652346                   None
546  2023-09-29 22:25:08.827319  56.223245  55.930437              гостиница
547  2023-09-29 22:24:47.210166  54.600768  53.696268                   None
548  2023-09-29 22:24:13.228632  53.967493  58.400283                   None

[549 rows x 22 columns]

In [15]:
platform1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5522 entries, 0 to 5521
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   uid                  5522 non-null   int64
 1   id                   5522 non-null   int64
 2   create_time          5522 non-null   object
 3   title                5522 non-null   object
 4   hotel_type_original  5522 non-null   object
 5   city                 5522 non-null   object
 6   address              5522 non-null   object
 7   rating               3160 non-null   float64
 8   rating_5             3160 non-null   float64
 9   review_count         375 non-null    float64
 10  region               5522 non-null   int64
 11  star_rating          311 non-null    float64
 12  rooms_count          856 non-null    float64
 13  contact_social       0 non-null      float64
 14  description          0 non-null      float64
 15  email                0 non-null      float64
 16  phone                0 non-null      float64
 17  website              0 non-null      float64
 18  parsing_time         5522 non-null   object
 19  lat                  5522 non-null   float64
 20  lon                  5522 non-null   float64
 21  type                 113 non-null    object
dtypes: float64(12), int64(3), object(7)
memory usage: 949.2+ KB

In [16]:
platform2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549 entries, 0 to 548
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   uid                  549 non-null    int64
 1   id                   549 non-null    int64
 2   create_time          549 non-null    object
 3   title                549 non-null    object
 4   hotel_type_original  545 non-null    object
 5   city                 320 non-null    object
 6   address              549 non-null    object
 7   rating               419 non-null    float64
 8   rating_5             419 non-null    float64
 9   review_count         420 non-null    float64
 10  region               549 non-null    int64
 11  star_rating          117 non-null    float64
 12  rooms_count          329 non-null    float64
 13  contact_social       251 non-null    object
 14  description          35 non-null     object
 15  email                29 non-null     object
 16  phone                502 non-null    object
 17  website              433 non-null    object
 18  parsing_time         549 non-null    object
 19  lat                  543 non-null    float64
 20  lon                  543 non-null    float64
 21  type                 456 non-null    object
dtypes: float64(7), int64(3), object(12)
memory usage: 94.5+ KB

В таблицах остались только уникальные  гостиницы

In [17]:
platform2['phone'].unique()

array(['+79061002225, +79311065039', '+73472734100', '+73472680008',
       '+73472359000', '+73472790000', '+73472644349', '+73472849056',
       '+73472936066', '+73472798731', '+73472927606', '+73472464141',
       '+73472283651', '+73472733551', '+73472295584', '+73472460411',
       '+73472646979', '+73472386781', '+73472666657', '+73472164003',
       '+73472251917', '+73472901010', '+73472711121', '+73472934466',
       '+73472462010, +79871349915', '+79870401812', '88002508770',
       '+73472462906', '+73472661929', '+79014423518', '+73472561999',
       '+79300352178', '+73472521020', '+73472405344', '+79174144111',
       '+79272360976', '+73472228535', '+79174950101', '+79374762005',
       '+73472517757', '+73472959522', '+79872543204', '+79874766577',
       '+73472268100', '+79585780501', '+79174808001', '+73472861622',
       '+73472402352', '+73472565880', '+79625441749', '+79870273737',
       '+79872541688', '+79608005400', '88005555803', '+79512379748',
       '+73479270492', '+79128051797', '+79128957605', '+73472009075',
       '+79610444759', '+79087048098', '+73519456690', '+73519008800',
       '+79128052510', '+79128050162', '+73519016983', '+73479273938',
       '+79127749042', '+79630969323', '+79028920033', '+79177600760',
       '+79193245522', '+79227345252', '+79374895088', '+79097497788',
       '+73479270821', '+73519043000', '+79194004797', '+73519473335',
       '+79191142140', '+79615781548', '+79090933366', '+79026108756',
       '+73479273918', '+79128080989', '+73519494993', '+79273263344',
       '+73519458004', '+79177977750', '+73473218621', '+73473212255',
       '+73479440475', '+79603816361', '+73476354216', '+73476350834',
       '+79373422011', '+79063753000', '+79173427727', '+79174029606',
       '+73473205000', None, '+79870223537', '+79872540758',
       '+73472939000', '+79279677733', '+79051809090', '+79178009009',
       '+79272333321', '+79174514087', '+73472850100', '+79871007774',
       '+79177890099', '+73472164756', '+73472260626', '+73472726247',
       '+79177398771', '+79177798577', '+79272362701', '+79177685668',
       '+79273565835', '+73472750135', '+79173743333', '88002002190',
       '+79872527154', '+73478361160', '+73478333300', '88005002905',
       '+73476750909', '+79373339000', '+73476754635', '+73476733399',
       '+73476732896', '+73472758888', '+73473304305', '+79174127908',
       '+79174202019', '+73519510494', '+73478331091', '+79870272777',
       '+79674587979', '+73476743961', '+79603902200', '+79033110606',
       '+79174442066', '+73478271272', '+73477330786', '+79871404040',
       '+79373613823', '+73476770505', '+79177377719', '+79872424200',
       '+73478721650', '+79174147030', '+79638980722', '+73478421640',
       '+73475133051', '+73476831091', '+79871498939', '+73479234422',
       '+73475822110', '+73478821237', '+73478822979', '+79869643264',
       '+73475821251', '+79875964405', '+73478631636', '+73479277520',
       '+73474521565', '+73479227615', '+73476433055', '+73476255702',
       '+73477220404', '+73476630200', '+73479240680', '+79638956056',
       '+73474728475', '+79378410050', '+73472668400', '+79297565569',
       '+79279501111', '+79093525152', '+73476252727', '+79374702906',
       '+79191479886', '+79177509497', '+79373626448', '+79875881868',
       '+79177797747', '+79177607060', '+73477321114', '+79273498268',
       '+79311065039', '+79872456766', '+73472912004', '+79270889922',
       '+79603929427', '+79625225500', '+79174198288', '+79174681266',
       '+79093461111', '+79177809908', '+79173501010', '88007755331',
       '+79177518800', '+73476621793', '+79174778604', '+79191472000',
       '+73476147881', '+73476147650', '+79373280022', '+73519510141',
       '+79273527676', '+79174563784', '+79373134852', '+79050000445',
       '+73478642336', '+79279441120', '+79128011200', '+73476622000',
       '+79374886988', '+79377886677', '+73476830107', '+79870289682',
       '+79174601155', '+79174440303', '+79631364711', '+79173634771',
       '+79585780702', '+79063777766', '+79174931343', '+73472937070',
       '+79174281994', '+79177426119', '+79196169298', '+79174052003',
       '+79227312428', '+79177773545', '+79170452333', '+79378501400',
       '+79870202030', '+79177785182', '+79177302152, +79871007774',
       '+79872555515', '+79871452102', '+79872414963', '+79874945002',
       '88002000756, +79170452333, +79871349915, +79311065039',
       '+79170452442', '+79961006909', '+73479160976', '+79374942701',
       '+79871484772', '+79374770099', '+79374880489', '+79279446644',
       '+79174069388', '+79174153388', '+79610497545', '+79297544595',
       '88006009344', '+79033554188', '+79128994626', '+79128071212',
       '+79378639750', '+79128054525', '+79871477017', '+79061050011',
       '+79373600535', '+79696165000', '+79273103888', '+79173512467',
       '+79063707857', '+79000868687', '+79270872641', '+79822993181',
       '+79174756500', '+73475976735', '+79371548205', '+79656447923',
       '+79174813311', '+79196171028', '+73475021912', '+79297555756',
       '+79373616500', '+73478929099', '88002016652', '+79674518626',
       '+79659441634', '+79378409962', '+79378392925', '+73472246306',
       '+79068728826', '+79677491500', '+79193009555', '+79869771774',
       '+73473295813', '+79273200202', '+79191518334', '+79279486661',
       '+73478524566', '+79965805133', '+73476835676', '+79871479273',
       '+79173833383', '+79236157271', '+79874743565', '+79377879333',
       '+73475222423', '+79272304400', '+79050062121', '+79374800480',
       '+79177675055', '+79053578265', '+79061000197', '+79085867171',
       '+73476053952', '+73476522831', '+79279279826', '+79273432102',
       '+79631408510', '+79272368694', '+79120857502', '+79080506252',
       '+79271282236', '+79373323446', '+79053077663', '+79378358575',
       '+73476439698', '+73473418474', '+79867047997', '+79049408800',
       '+79273233477', '+79174326154', '+79821073407', '+79872401491',
       '+79876000225', '+79373042818', '+79063714300', '+79377878685',
       '+79279691650', '+79374800404', '+79276361900', '+79603879076',
       '+79177639725', '+79173793888', '+79273487878', '+73477559393',
       '+79128054500', '+79273409555', '+73474026959', '+79869603777',
       '+73479631207', '+79821016158', '+79642481888', '+73479161374',
       '+79279358501', '+79656504282', '+79677364020', '+79674578867',
       '+79631422333', '+79656628252', '+79656564123', '+79033534029',
       '+73519550399', '+79273587149', '+79273034244', '+79374998052',
       '+79659396413', '+79872540575', '+79373001682', '+73477525376',
       '+79173405036', '+79655311111', '+79514308614', '+79297533533',
       '+79373366366', '+79870918024', '+79173595917', '+79174972332',
       '+79613584755', '+79272339885', '+79273130405', '+79173607000',
       '+79850351142', '+73472667766', '+79196169298, +79871349915',
       '+79373125777', '+79128963242', '+79080688294', '+79173510880',
       '+79272363105', '+79373468777', '+79872424240', '+79063703520',
       '+79871349915', '+73474421682', '+79053545551',
       '+79871349915, +79272360976', '+79373505575', '+79018179777',
       '+79373021115', '+79371514636', '+73472570007', '+79279666341',
       '+79991310220', '+79373583838', '+79279263333', '+79378409840',
       '+79373288988', '+79279505922', '+73473922403', '+79273403379',
       '+79174601423', '+79050061962', '+79177588247', '+79093484349',
       '+79173406846', '+79659440408', '+79371607021', '+79050000075',
       '+79659455590', '+79174791567', '+79279253333', '+79371632191',
       '+79373130004', '+79177877714', '+73472827979', '+79174667589',
       '+79373107410', '+79270889976', '+79374823429', '+79373345007',
       '+79273503576', '+79174999426', '+79867008883', '+73478331555',
       '+79173747923', '+79870168327', '+79876062030', '+79174081668',
       '+79991332464', '+79659241251', '+79174505708', '+79872449397',
       '+79170463916', '+79173674578', '+79177361648', '+79196165583',
       '+79273388889', '+79098302027', '+79273481747',
       '+79871349915, +79173501010', '+79177387510', '+79178085327',
       '+79659338181', '+79177670000', '+79270803010', '+79173669003',
       '+79872543939', '+79365207370', '+79173502444', '+79931400469',
       '+79649512691', '+79174440022', '+79174475541', '+79178094499',
       '+79128052242', '+79613647777', '+79220155555', '+79674537238',
       '+79373430037'], dtype=object)

# Анализ данных

In [18]:
# Разделяем строку с номерами телефонов на отдельные столбцы с ограничением по количеству
platform2[['phone1', 'phone2', 'phone3', 'phone4']] = platform2['phone'].str.split(',', expand=True)

In [19]:
# Разделяем строку с номерами телефонов на отдельные столбцы с ограничением по количеству
platform2[['email1', 'email2']] = platform2['email'].str.split(',', expand=True)

# Поля телефона, email, сайтов распарсить и сохранить как списки в одинаковом формате ( address@domen.org, 79234553322, domen.ru)

In [20]:


#platform1['phone'] = platform1['phone'].astype(str)
#platform1['email'] = platform1['email'].astype(str)
#platform1['website'] = platform1['website'].astype(str)
platform2['phone'] = platform2['phone'].astype(str)
platform2['phone1'] = platform2['phone1'].astype(str)
platform2['phone2'] = platform2['phone2'].astype(str)
platform2['phone3'] = platform2['phone3'].astype(str)
platform2['phone4'] = platform2['phone4'].astype(str)
#platform2['phone5'] = platform2['phone5'].astype(str)
#platform2['phone6'] = platform2['phone6'].astype(str)

platform2['email1'] = platform2['email1'].astype(str)
platform2['email2'] = platform2['email2'].astype(str)

platform2['website'] = platform2['website'].astype(str)



# Функция для очистки номера телефона
def clean_phone(phone):
    return re.sub(r'\D', '', phone)

# Функция для извлечения доменного имени из URL
def extract_domain(url):
    match = re.search(r'(?<=://)(www\.)?(?P<domain>[^/]+)', url)
    return match.group('domain') if match else None

# Применяем функции к соответствующим колонкам и сохраняем результаты в списки
#phone_list1 = platform1['phone'].apply(clean_phone).tolist()
#email_list1 = platform1['email'].tolist()  # email уже в нужном формате
#website_list1 = platform1['website'].apply(extract_domain).tolist()

phone_list2 = platform2['phone'].apply(clean_phone).tolist()
phone_list2_1 = platform2['phone1'].apply(clean_phone).tolist()
phone_list2_2 = platform2['phone2'].apply(clean_phone).tolist()
phone_list2_3 = platform2['phone3'].apply(clean_phone).tolist()
phone_list2_4 = platform2['phone4'].apply(clean_phone).tolist()
#phone_list2_5 = platform2['phone5'].apply(clean_phone).tolist()
#phone_list2_6 = platform2['phone6'].apply(clean_phone).tolist()

email_list2 = platform2['email'].tolist()
email_list2_1 = platform2['email1'].tolist()
email_list2_2 = platform2['email2'].tolist()# email уже в нужном формате

website_list2 = platform2['website'].apply(extract_domain).tolist()

# Выводим списки
#print(phone_list1)
#print(email_list1)
#print(website_list1)

print(phone_list2)
print(phone_list2_1)
print(phone_list2_2)
print(phone_list2_3)
print(phone_list2_4)
#print(phone_list2_5)
#print(phone_list2_6)

print(email_list2)
print(email_list2_1)
print(email_list2_2)

print(website_list2)

['7906100222579311065039', '73472734100', '73472680008', '73472359000', '73472790000', '73472644349', '73472849056', '73472936066', '73472798731', '73472927606', '73472464141', '73472283651', '73472733551', '73472295584', '73472460411', '73472646979', '73472386781', '73472666657', '73472164003', '73472251917', '73472901010', '73472711121', '73472934466', '7347246201079871349915', '79870401812', '88002508770', '73472462906', '73472661929', '79014423518', '73472561999', '79300352178', '73472521020', '73472405344', '79174144111', '79272360976', '73472228535', '79174950101', '79374762005', '73472517757', '73472959522', '79872543204', '79874766577', '73472268100', '79585780501', '79174808001', '73472861622', '73472402352', '73472565880', '79625441749', '79870273737', '79872541688', '79608005400', '88005555803', '79512379748', '73479270492', '79128051797', '79128957605', '73472009075', '79610444759', '79087048098', '73519456690', '73519008800', '79128052510', '79128050162', '73519016983', '73479273938', '79127749042', '79630969323', '79028920033', '79177600760', '79193245522', '79227345252', '79374895088', '79097497788', '73479270821', '73519043000', '79194004797', '73519473335', '73519473335', '79191142140', '79615781548', '79090933366', '79026108756', '73479273918', '79128080989', '73519494993', '79273263344', '73519458004', '79177977750', '73473218621', '73473212255', '73479440475', '79603816361', '73476354216', '73476350834', '79373422011', '79063753000', '79173427727', '79174029606', '73473205000', '', '79870223537', '79872540758', '73472939000', '79279677733', '79051809090', '79178009009', '79272333321', '79174514087', '73472850100', '79871007774', '79177890099', '73472164756', '73472260626', '73472726247', '79177398771', '79177798577', '79272362701', '79177685668', '79273565835', '73472750135', '79173743333', '88002002190', '73472460411', '79872527154', '73478361160', '73478333300', '88005002905', '73476750909', '79373339000', '73476754635', '73476733399', '73476732896', '73472758888', '73473304305', '79174127908', '79174202019', '73519510494', '73478331091', '79870272777', '79674587979', '73476743961', '79603902200', '79033110606', '79174442066', '73478271272', '', '73477330786', '79871404040', '79373613823', '73476770505', '79870401812', '79177377719', '79872424200', '73478721650', '79174147030', '', '79638980722', '73478421640', '73475133051', '', '', '', '', '73476831091', '79871498939', '73479234422', '73475822110', '73478821237', '73478822979', '79869643264', '73475821251', '79875964405', '73478631636', '73479277520', '73474521565', '73479227615', '73476433055', '73476255702', '73477220404', '73476630200', '', '73479240680', '', '', '', '79638956056', '73474728475', '79378410050', '73472668400', '79297565569', '79279501111', '79093525152', '73476252727', '', '79374702906', '79191479886', '79177509497', '79373626448', '79875881868', '79177797747', '79177607060', '73477321114', '79273498268', '79311065039', '79872456766', '73472912004', '79270889922', '79603929427', '79625225500', '79174198288', '79174681266', '79093461111', '79177809908', '79173501010', '79173501010', '88007755331', '79177518800', '73476621793', '79174778604', '79191472000', '73476147881', '73476147650', '79373280022', '73519510141', '', '79273527676', '79174563784', '79373134852', '79050000445', '73478642336', '', '79279441120', '', '', '', '79128011200', '73476622000', '79374886988', '79377886677', '73476830107', '79870289682', '79174601155', '79174440303', '79631364711', '79173634771', '79585780702', '79311065039', '79063777766', '79174931343', '73472937070', '79174281994', '79177426119', '79196169298', '79174052003', '79227312428', '79177773545', '79170452333', '79378501400', '79870202030', '79177785182', '7917730215279871007774', '79872555515', '79871452102', '79872414963', '79874945002', '88002000756791704523337987134991579311065039', '79170452442', '79961006909', '73479160976', '79374942701', '79871484772', '79374770099', '', '79374880489', '', '79279446644', '79174069388', '79174153388', '79610497545', '79297544595', '88006009344', '79033554188', '79128994626', '79128071212', '79378639750', '79128054525', '79871477017', '79061050011', '', '79872543204', '79373600535', '79696165000', '79273103888', '79173512467', '79063707857', '79000868687', '79270872641', '79822993181', '73472668400', '79174756500', '73475976735', '79371548205', '79656447923', '79174813311', '79196171028', '73475021912', '79297555756', '79373616500', '73478929099', '88002016652', '79674518626', '79659441634', '79378409962', '79378392925', '73472246306', '79068728826', '79677491500', '79193009555', '79869771774', '73473295813', '79273200202', '', '79191518334', '79279486661', '73478524566', '', '', '79965805133', '', '', '', '73476835676', '', '', '79871479273', '', '', '79311065039', '79173833383', '', '79236157271', '79874743565', '79377879333', '73475222423', '79272304400', '79050062121', '79374800480', '79177675055', '79053578265', '73472927606', '79061000197', '79085867171', '79173634771', '79177785182', '73476053952', '73476522831', '79279279826', '79273432102', '79631408510', '79272368694', '79120857502', '79080506252', '79271282236', '79373323446', '79053077663', '79378358575', '73476439698', '79378358575', '73473418474', '79867047997', '79049408800', '', '79273233477', '79174326154', '79821073407', '79872401491', '79236157271', '79876000225', '79373042818', '79063714300', '79377878685', '79279691650', '79374800404', '79276361900', '79603879076', '79177639725', '79173793888', '79273487878', '73477559393', '79128054500', '79273409555', '73474026959', '79869603777', '73479631207', '79821016158', '79642481888', '73479161374', '79279358501', '79656504282', '79677364020', '79674578867', '79631422333', '79656628252', '79656564123', '79033534029', '73519550399', '79273587149', '79273034244', '79374998052', '79659396413', '79872540575', '79373001682', '73477525376', '79173405036', '79655311111', '79514308614', '79297533533', '79373366366', '79870918024', '79173595917', '79174972332', '79613584755', '79272339885', '79273130405', '88002016652', '79173607000', '', '79871479273', '79236157271', '79850351142', '73472667766', '7919616929879871349915', '', '79373125777', '', '73479270492', '79128963242', '79080688294', '79173510880', '79272363105', '', '', '', '79373468777', '79872424240', '79063703520', '79871349915', '73474421682', '79053545551', '7987134991579272360976', '79373505575', '79018179777', '79373021115', '79173634771', '79371514636', '73472570007', '79378358575', '79279666341', '79872540575', '79991310220', '79373583838', '79279263333', '', '79378409840', '79373288988', '79279505922', '79236157271', '73473922403', '79273403379', '79174601423', '79050061962', '79177588247', '79093484349', '79173406846', '79236157271', '', '79659440408', '79236157271', '79371607021', '79050000075', '79659455590', '79236157271', '79174791567', '79279253333', '79371632191', '79373130004', '79177877714', '73472827979', '79174667589', '79373107410', '79270889976', '79374823429', '79373345007', '79273503576', '79174999426', '79867008883', '73478331555', '79173747923', '79870168327', '79876062030', '79174081668', '79991332464', '79659241251', '79236157271', '79236157271', '79174505708', '79872449397', '79170463916', '79173674578', '79177361648', '79196165583', '', '79273388889', '79098302027', '79273481747', '7987134991579173501010', '79177387510', '79177588247', '79177588247', '79177588247', '79178085327', '79236157271', '79659338181', '79177670000', '79270803010', '79173669003', '79872543939', '79365207370', '79236157271', '79173502444', '', '79931400469', '79649512691', '79174440022', '79174475541', '79178094499', '', '79872540575', '79128052242', '', '79871349915', '79613647777', '79220155555', '', '79674537238', '79373430037', '', '']
['79061002225', '73472734100', '73472680008', '73472359000', '73472790000', '73472644349', '73472849056', '73472936066', '73472798731', '73472927606', '73472464141', '73472283651', '73472733551', '73472295584', '73472460411', '73472646979', '73472386781', '73472666657', '73472164003', '73472251917', '73472901010', '73472711121', '73472934466', '73472462010', '79870401812', '88002508770', '73472462906', '73472661929', '79014423518', '73472561999', '79300352178', '73472521020', '73472405344', '79174144111', '79272360976', '73472228535', '79174950101', '79374762005', '73472517757', '73472959522', '79872543204', '79874766577', '73472268100', '79585780501', '79174808001', '73472861622', '73472402352', '73472565880', '79625441749', '79870273737', '79872541688', '79608005400', '88005555803', '79512379748', '73479270492', '79128051797', '79128957605', '73472009075', '79610444759', '79087048098', '73519456690', '73519008800', '79128052510', '79128050162', '73519016983', '73479273938', '79127749042', '79630969323', '79028920033', '79177600760', '79193245522', '79227345252', '79374895088', '79097497788', '73479270821', '73519043000', '79194004797', '73519473335', '73519473335', '79191142140', '79615781548', '79090933366', '79026108756', '73479273918', '79128080989', '73519494993', '79273263344', '73519458004', '79177977750', '73473218621', '73473212255', '73479440475', '79603816361', '73476354216', '73476350834', '79373422011', '79063753000', '79173427727', '79174029606', '73473205000', '', '79870223537', '79872540758', '73472939000', '79279677733', '79051809090', '79178009009', '79272333321', '79174514087', '73472850100', '79871007774', '79177890099', '73472164756', '73472260626', '73472726247', '79177398771', '79177798577', '79272362701', '79177685668', '79273565835', '73472750135', '79173743333', '88002002190', '73472460411', '79872527154', '73478361160', '73478333300', '88005002905', '73476750909', '79373339000', '73476754635', '73476733399', '73476732896', '73472758888', '73473304305', '79174127908', '79174202019', '73519510494', '73478331091', '79870272777', '79674587979', '73476743961', '79603902200', '79033110606', '79174442066', '73478271272', '', '73477330786', '79871404040', '79373613823', '73476770505', '79870401812', '79177377719', '79872424200', '73478721650', '79174147030', '', '79638980722', '73478421640', '73475133051', '', '', '', '', '73476831091', '79871498939', '73479234422', '73475822110', '73478821237', '73478822979', '79869643264', '73475821251', '79875964405', '73478631636', '73479277520', '73474521565', '73479227615', '73476433055', '73476255702', '73477220404', '73476630200', '', '73479240680', '', '', '', '79638956056', '73474728475', '79378410050', '73472668400', '79297565569', '79279501111', '79093525152', '73476252727', '', '79374702906', '79191479886', '79177509497', '79373626448', '79875881868', '79177797747', '79177607060', '73477321114', '79273498268', '79311065039', '79872456766', '73472912004', '79270889922', '79603929427', '79625225500', '79174198288', '79174681266', '79093461111', '79177809908', '79173501010', '79173501010', '88007755331', '79177518800', '73476621793', '79174778604', '79191472000', '73476147881', '73476147650', '79373280022', '73519510141', '', '79273527676', '79174563784', '79373134852', '79050000445', '73478642336', '', '79279441120', '', '', '', '79128011200', '73476622000', '79374886988', '79377886677', '73476830107', '79870289682', '79174601155', '79174440303', '79631364711', '79173634771', '79585780702', '79311065039', '79063777766', '79174931343', '73472937070', '79174281994', '79177426119', '79196169298', '79174052003', '79227312428', '79177773545', '79170452333', '79378501400', '79870202030', '79177785182', '79177302152', '79872555515', '79871452102', '79872414963', '79874945002', '88002000756', '79170452442', '79961006909', '73479160976', '79374942701', '79871484772', '79374770099', '', '79374880489', '', '79279446644', '79174069388', '79174153388', '79610497545', '79297544595', '88006009344', '79033554188', '79128994626', '79128071212', '79378639750', '79128054525', '79871477017', '79061050011', '', '79872543204', '79373600535', '79696165000', '79273103888', '79173512467', '79063707857', '79000868687', '79270872641', '79822993181', '73472668400', '79174756500', '73475976735', '79371548205', '79656447923', '79174813311', '79196171028', '73475021912', '79297555756', '79373616500', '73478929099', '88002016652', '79674518626', '79659441634', '79378409962', '79378392925', '73472246306', '79068728826', '79677491500', '79193009555', '79869771774', '73473295813', '79273200202', '', '79191518334', '79279486661', '73478524566', '', '', '79965805133', '', '', '', '73476835676', '', '', '79871479273', '', '', '79311065039', '79173833383', '', '79236157271', '79874743565', '79377879333', '73475222423', '79272304400', '79050062121', '79374800480', '79177675055', '79053578265', '73472927606', '79061000197', '79085867171', '79173634771', '79177785182', '73476053952', '73476522831', '79279279826', '79273432102', '79631408510', '79272368694', '79120857502', '79080506252', '79271282236', '79373323446', '79053077663', '79378358575', '73476439698', '79378358575', '73473418474', '79867047997', '79049408800', '', '79273233477', '79174326154', '79821073407', '79872401491', '79236157271', '79876000225', '79373042818', '79063714300', '79377878685', '79279691650', '79374800404', '79276361900', '79603879076', '79177639725', '79173793888', '79273487878', '73477559393', '79128054500', '79273409555', '73474026959', '79869603777', '73479631207', '79821016158', '79642481888', '73479161374', '79279358501', '79656504282', '79677364020', '79674578867', '79631422333', '79656628252', '79656564123', '79033534029', '73519550399', '79273587149', '79273034244', '79374998052', '79659396413', '79872540575', '79373001682', '73477525376', '79173405036', '79655311111', '79514308614', '79297533533', '79373366366', '79870918024', '79173595917', '79174972332', '79613584755', '79272339885', '79273130405', '88002016652', '79173607000', '', '79871479273', '79236157271', '79850351142', '73472667766', '79196169298', '', '79373125777', '', '73479270492', '79128963242', '79080688294', '79173510880', '79272363105', '', '', '', '79373468777', '79872424240', '79063703520', '79871349915', '73474421682', '79053545551', '79871349915', '79373505575', '79018179777', '79373021115', '79173634771', '79371514636', '73472570007', '79378358575', '79279666341', '79872540575', '79991310220', '79373583838', '79279263333', '', '79378409840', '79373288988', '79279505922', '79236157271', '73473922403', '79273403379', '79174601423', '79050061962', '79177588247', '79093484349', '79173406846', '79236157271', '', '79659440408', '79236157271', '79371607021', '79050000075', '79659455590', '79236157271', '79174791567', '79279253333', '79371632191', '79373130004', '79177877714', '73472827979', '79174667589', '79373107410', '79270889976', '79374823429', '79373345007', '79273503576', '79174999426', '79867008883', '73478331555', '79173747923', '79870168327', '79876062030', '79174081668', '79991332464', '79659241251', '79236157271', '79236157271', '79174505708', '79872449397', '79170463916', '79173674578', '79177361648', '79196165583', '', '79273388889', '79098302027', '79273481747', '79871349915', '79177387510', '79177588247', '79177588247', '79177588247', '79178085327', '79236157271', '79659338181', '79177670000', '79270803010', '79173669003', '79872543939', '79365207370', '79236157271', '79173502444', '', '79931400469', '79649512691', '79174440022', '79174475541', '79178094499', '', '79872540575', '79128052242', '', '79871349915', '79613647777', '79220155555', '', '79674537238', '79373430037', '', '']
['79311065039', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '79871349915', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '79871007774', '', '', '', '', '79170452333', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '79871349915', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '79272360976', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '79173501010', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

# посчитаем количество телефонных номеров для каждой гостиницы

In [22]:
def count_valid_phones(platform2, phone_columns):
    """
    Подсчитывает количество действительных телефонных номеров для каждой строки DataFrame,
    исключая 'nan' и 'None'.

    Параметры:
    df : pandas.DataFrame
        DataFrame, в котором необходимо подсчитать телефонные номера.
    phone_columns : list
        Список столбцов, содержащих телефонные номера.

    Возвращает:
    pandas.Series
        Серия с количеством действительных телефонных номеров для каждой строки.
    """
    # Заменяем 'None' и строковое представление 'nan' на np.nan
    platform2 = platform2.replace(['None', 'nan', np.nan], [np.nan, np.nan, np.nan])
    
    # Подсчитываем количество не-null значений в каждой строке
    return platform2[phone_columns].apply(lambda x: x.notnull().sum(), axis=1)

# Пример использования функции:
phone_columns = ['phone1', 'phone2', 'phone3', 'phone4']
platform2['valid_phones_count'] = count_valid_phones(platform2, phone_columns)
print(platform2.describe())

                uid            id      rating    rating_5  review_count  \
count  5.490000e+02    549.000000  419.000000  419.000000    420.000000
mean   5.776877e+16  67721.927140    3.852506    3.852506     34.845238
std    2.579395e+16    160.340986    1.140285    1.140285     78.246855
min    2.393066e+15  67446.000000    1.000000    1.000000      1.000000
25%    7.000000e+16  67583.000000    3.100000    3.100000      3.000000
50%    7.000000e+16  67722.000000    4.200000    4.200000      9.000000
75%    7.000000e+16  67860.000000    4.800000    4.800000     34.000000
max    7.003008e+16  67999.000000    5.000000    5.000000    823.000000

       region  star_rating  rooms_count         lat         lon  \
count   549.0   117.000000   329.000000  543.000000  543.000000
mean      2.0     2.811966    24.082067   54.316000   56.422977
std       0.0     0.819289    43.397510    0.902305    1.468469
min       2.0     1.000000     1.000000   51.859128   53.438959
25%       2.0     2.000000     7.000000   53.640077   55.822470
50%       2.0     3.000000    11.000000   54.494791   56.027788
75%       2.0     3.000000    20.000000   54.771280   57.539439
max       2.0     4.000000   500.000000   56.276438   59.940707

       valid_phones_count
count          549.000000
mean             0.930783
std              0.329149
min              0.000000
25%              1.000000
50%              1.000000
75%              1.000000
max              4.000000

In [23]:
# Используем .apply() для применения .notnull() к каждой группе
grouped_non_null_counts = platform2[['title', 'uid', 'valid_phones_count']].sort_values(by='valid_phones_count', ascending=False)

print(grouped_non_null_counts.head(10))

                    title                uid  valid_phones_count
266                Vgosti  70000001045049293                   4
0                     Нур   2393065583018400                   2
23             Белая река   2393065583281479                   2
450                  Куба  70000001067274899                   2
432  Гостиничный комплекс  70000001065115999                   2
516                  Вояж  70000001074945986                   2
261             Предгорье  70000001043849315                   2
367                  Азур  70000001061124436                   1
366                Забота  70000001061123729                   1
368                Забота  70000001061126053                   1

# Посчитать количество обзоров

In [24]:
sorted_review_count_1 = platform1[['title', 'review_count']].sort_values(by='review_count', ascending=False)

print('Топ 10 по количеству отзывов на платформе 1') 
print(sorted_review_count_1.head(10))

Топ 10 по количеству отзывов на платформе 1
                                     title  review_count
386         Radisson Blu Hotel Kaliningrad        1201.0
391                  AZIMUT Сити Отель Уфа         988.0
398            Отель Кайзерхоф (Kaiserhof)         930.0
540           Отель Ibis Калининград Центр         837.0
34         Hilton Garden Inn Ufa Riverside         616.0
465                 Отель АМАКС Сити-отель         540.0
226            Отель Hampton by Hilton Уфа         460.0
3575  Гостиничный Комплекс Президент Отель         414.0
392     Гостиница Мартон Палас Калининград         334.0
463                 Гостиница "Шкиперская"         302.0

In [25]:
sorted_review_count_2 = platform2[['title', 'review_count']].sort_values(by='review_count', ascending=False)

print('Топ 10 по количеству отзывов на платформе 2')
print(sorted_review_count_2.head(10))

Топ 10 по количеству отзывов на платформе 2
                                title  review_count
103   Hilton Garden Inn Ufa Riverside         823.0
4                            Башкирия         780.0
113             Hampton by hilton Ufa         451.0
107                          Урал тау         416.0
3               AZIMUT Сити Отель Уфа         386.0
9                    Амакс Сити-отель         358.0
7                     Президент отель         341.0
109  Sheratonplaza Ufa Congress Hotel         240.0
26                          ВолнаСити         232.0
25                              Свояк         222.0

# Вывести квадрат координат размером 1км на 1км, где больше всего гостиниц.

In [26]:
# Создание GeoDataFrame
gdf = gpd.GeoDataFrame(platform1, geometry=gpd.points_from_xy(platform1.lon, platform1.lat))

# Определение размера сетки (1 км на 1 км)
# Для этого нужно преобразовать километры в градусы широты/долготы
# Примерное значение для широты: 1 км ≈ 0.009 градусов
grid_size = 0.009

# Округление координат до ближайшего значения сетки
gdf['grid_latitude'] = (gdf.geometry.y // grid_size) * grid_size
gdf['grid_longitude'] = (gdf.geometry.x // grid_size) * grid_size

# Группировка по сетке и подсчет количества гостиниц в каждом квадрате
hotel_density = gdf.groupby(['grid_latitude', 'grid_longitude']).size().reset_index(name='count')

# Нахождение квадрата с максимальным количеством гостиниц
max_density_square = hotel_density.loc[hotel_density['count'].idxmax()]

print(f"Квадрат с наибольшим количеством гостиниц находится в координатах: {max_density_square['grid_latitude']}, {max_density_square['grid_longitude']} и содержит {max_density_square['count']} гостиниц.")

Квадрат с наибольшим количеством гостиниц находится в координатах: 54.95399999999999, 20.474999999999998 и содержит 210.0 гостиниц.

# Вывести все гостиницы, которые есть в платформе 1 и нет в платформе 2

In [27]:
merged_df = pd.merge(platform1, platform2, on='title', how='left', indicator=True)

# Фильтруем результаты, чтобы оставить только те, которые есть в platform1 и нет в platform2
hotels_in_platform1_not_in_platform2 = merged_df[merged_df['_merge'] == 'left_only']

# Выводим результат
print(hotels_in_platform1_not_in_platform2[['title']])

                                                  title
0             Апартаменты рядом с Закхаймскими воротами
1                Апартаменты на Мубарякова 10 корп. 1-1
2               Апартаменты на Сагита Агиша 14 корпус 1
3                Апартаменты на Мубарякова 10 корп. 1-2
4                              Апартаменты на Шафиева 8
...                                                 ...
5593                        Квартира Королевские ворота
5594  Апартаменты Трехкомнатные Pro.apartment на При...
5595                                Квартира SeverApart
5596                                 Квартира на Сельме
5597                      Шале Бревенчатый дом АБЗАКОВО

[5441 rows x 1 columns]

# Вывести топ 10 гостиниц которые есть в обоих платформах, по суммарному количеству отзывов

In [28]:
merged_df = pd.merge(platform1, platform2, on='title', how='inner')

In [29]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 50 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   uid_x                  157 non-null    int64
 1   id_x                   157 non-null    int64
 2   create_time_x          157 non-null    object
 3   title                  157 non-null    object
 4   hotel_type_original_x  157 non-null    object
 5   city_x                 157 non-null    object
 6   address_x              157 non-null    object
 7   rating_x               51 non-null     float64
 8   rating_5_x             51 non-null     float64
 9   review_count_x         24 non-null     float64
 10  region_x               157 non-null    int64
 11  star_rating_x          35 non-null     float64
 12  rooms_count_x          46 non-null     float64
 13  contact_social_x       0 non-null      float64
 14  description_x          0 non-null      float64
 15  email_x                0 non-null      float64
 16  phone_x                0 non-null      float64
 17  website_x              0 non-null      float64
 18  parsing_time_x         157 non-null    object
 19  lat_x                  157 non-null    float64
 20  lon_x                  157 non-null    float64
 21  type_x                 0 non-null      object
 22  uid_y                  157 non-null    int64
 23  id_y                   157 non-null    int64
 24  create_time_y          157 non-null    object
 25  hotel_type_original_y  157 non-null    object
 26  city_y                 80 non-null     object
 27  address_y              157 non-null    object
 28  rating_y               130 non-null    float64
 29  rating_5_y             130 non-null    float64
 30  review_count_y         130 non-null    float64
 31  region_y               157 non-null    int64
 32  star_rating_y          33 non-null     float64
 33  rooms_count_y          94 non-null     float64
 34  contact_social_y       47 non-null     object
 35  description_y          9 non-null      object
 36  email_y                8 non-null      object
 37  phone_y                157 non-null    object
 38  website_y              157 non-null    object
 39  parsing_time_y         157 non-null    object
 40  lat_y                  157 non-null    float64
 41  lon_y                  157 non-null    float64
 42  type_y                 143 non-null    object
 43  phone1                 157 non-null    object
 44  phone2                 157 non-null    object
 45  phone3                 157 non-null    object
 46  phone4                 157 non-null    object
 47  email1                 157 non-null    object
 48  email2                 157 non-null    object
 49  valid_phones_count     157 non-null    int64
dtypes: float64(19), int64(7), object(24)
memory usage: 61.5+ KB

In [30]:
merged_df['review_count']=merged_df['review_count_x']+merged_df['review_count_y']

In [41]:
groupe = merged_df.groupby('title').agg({'review_count': 'sum'}).sort_values(by='review_count', ascending=False).reset_index()
groupe.head(10)

                             title  review_count
0  Hilton Garden Inn Ufa Riverside        1439.0
1            AZIMUT Сити Отель Уфа        1374.0
2                           Корона         119.0
3                          Евразия          98.0
4                          Комфорт          71.0
5                        На высоте          65.0
6                      Александрия          47.0
7                        Клеопатра          40.0
8                         Уязы-Тау          36.0
9                          Алтынай          33.0